* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}



.texts{
    /* display: flex;
    gap: 405px;
    text-align: center;
    margin: 24px 100px;
}
#who{
    line-height: 15px; */
}

.card-img-top{
    width: 300px;
    /* margin-left: 300px; */
}
.card-title{
    /* margin-left: 300px; */
}
.card-house{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
    justify-items: center;
    
} 

